/*
* @Author: Administrator
* @Date:   2017-07-09 10:17:05
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-09 10:21:21
*/
.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
    text-decoration: none;
}