/*
* @Author: Administrator
* @Date:   2017-07-08 10:42:16
* @Last Modified by:   Administrator
* @Last Modified time: 2017-07-08 14:28:57
*/
body {
	background: #999;
	font-size: 30px;
	color: red;
}